// app global css in SCSS form

@import "variables";
@import "animations";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.q-card {
  border: solid 1em $logoFirst;
  border-radius: 2.5em;
  transition: transform 1s ease 0s;

  &:hover {
    transform: scale(1.3);
    transition: transform 1s ease 0s;
  }

  span {
    font-family: 'Open Sans', sans-serif;
    font-size: 20pt;

    &:first-letter {
      color: $logoFirst;
    }
  }
}
